.page {
  position: relative;
  background-color: black;
  /* background-image: url('../../images/gif/background-auth.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; */
}
