.profile__add-card-place {
  display: block;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: auto;
  background-image: url(../../../images/icons/profile-btn-add.svg);
  background-size: 22px 22px;
  grid-area: add-card-place;
  transition: opacity 0.3s ease-out;
  border-radius: 2px;
}

.profile__add-card-place:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-card-place {
    min-width: 282px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 384px) {
  .profile__add-card-place {
    background-size: 16px 16px;
  }
}
