.profile__title-name {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  .profile__title-name {
    max-width: 270px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width: 506px) {
  .profile__title-name {
    max-width: 305px;
  }
}

@media screen and (max-width: 384px) {
  .profile__title-name {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 14px;
    text-align: center;
    max-width: 226px;
  }
}
