.place__result {
  background-image: url('../../../images/gif/preloader.gif');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 880px;
  width: 100%;
  min-height: 256px;
}
